[submodule "CoOp"]
	path = CoOp
	url = https://github.com/ahdavies6/CoOp.git
[submodule "Dassl.pytorch"]
	path = Dassl.pytorch
	url = https://github.com/ahdavies6/Dassl.pytorch.git
[submodule "robustness_metrics"]
	path = robustness_metrics
	url = https://github.com/RyanMarten/robustness_metrics.git
